@charset "UTF-8";

@media screen and (min-width: 768px) {

    #apresentation {
        padding: 80px 90px;
    }

    #products {
        padding: 80px 50px;
    }

    #aboutus {
        padding: 80px 40px;
    }

    .material-icons, .line_bottom_button {
        display: none;
    }

    #informação_1, #informação_2, #informação_3 {
        display: block;
    }    
}